h1{
    color: #FF5733;
    text-align: center;
}

p{
    font-size: 20px;
    text-align: center;
}

div{
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 60px;
    background-color: black;
    color: white;
}

img{
    width: 200px;
    height: auto;
    border-radius: 10px;
}